.TogglePerson button{

    background: green;
    color:white;
    border:1px solid blue;
    padding:8px;
    cursor: pointer;
}



.TogglePerson button:hover{

    background:lightgreen;
}

.TogglePerson button.Red{
    background-color: red;
}
.TogglePerson button.Red:hover{
    background-color: salmon;
}
